# üìä An√°lisis de Operaciones y Ventas: E-commerce Olist (Brasil)
**Fecha de inicio:** 17 de diciembre, 2025  
**Estado:** Fase 1 - Carga, Exploraci√≥n y Definici√≥n de L√≥gica

---

## Contexto del Proyecto
Este proyecto utiliza el dataset p√∫blico de **Olist**, la plataforma de marketplace m√°s grande de Brasil. El objetivo es analizar el ciclo de vida de un pedido, desde que el cliente realiza la compra hasta la entrega final, evaluando el desempe√±o de los vendedores y la eficiencia log√≠stica por regi√≥n.

## üõ†Ô∏è 1. Exploraci√≥n T√©cnica R√°pida
Se realiza la carga de los datasets de **Olist** y una inspecci√≥n inicial de su estructura para validar tipos de datos y consistencia.

In [7]:
import pandas as pd

In [9]:
customers = pd.read_csv('../data/raw/olist_customers_dataset.csv')
orders = pd.read_csv('../data/raw/olist_orders_dataset.csv')
order_items = pd.read_csv('../data/raw/olist_order_items_dataset.csv')
products = pd.read_csv('../data/raw/olist_products_dataset.csv')
payments = pd.read_csv('../data/raw/olist_order_payments_dataset.csv')

In [42]:
# 1
print(customers.info())
customers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [44]:
# 2
print(orders.info())
print(orders.columns.to_list())
orders.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [50]:
# 3
print(order_items.info())
print(order_items.columns.to_list())
order_items.sample(frac=0.07)
# # Esto mostrar√° √≥rdenes que tienen m√°s de un producto
#ordenes_multiples = order_items[order_items['order_item_id'] > 1]
#print(ordenes_multiples.head())
# # Reemplazo 'ID_QUE_ENCONTRANT√â' por uno real
# print(order_items[order_items['order_item_id'] == 3])
# Filtrar para ver TODA la historia de esa orden espec√≠fica:
orden_ejemplo = order_items[order_items['order_id'] == '00143d0f86d6fbd9f9b38ab440ac16f5']
print(orden_ejemplo.sort_values('order_item_id'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None
['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']
                            order_id  order_item_id  \
32  00143d0f86d6fbd9f9b38ab440ac16f5              1
33  00143d0f86d6fbd9f9b38ab440ac16f5              2
34  00143d0f86d6fbd9f9b38ab440ac16f5              3

                          product_id                         seller_id  \
32  e95ee6822b66ac6058e2e4aff656071a  a17f621c590ea0fab3d5d883e1630ec6
33  e95ee6822b66ac6058e2e4aff656071a  a17f621c590ea0fab3d5d883e1630ec6
34  e95ee6822b66ac6058e2e4aff656071a  a17f621c590ea0fab3d5d883e1630ec6

    shipping_limit_date  price  freight_value
32  2017-10-20 16:07:52  21.33           15.1
33  2017-10-20 16:07:52  21.33           15.1
34  2017-10-20 16:07:52  21.33           15.1

In [48]:
# 4
print(products.info())
print(products.columns.to_list())
print(products.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None
['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes
2  96bd76ec8810374ed1b65e291975717f         esporte_lazer

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0

In [14]:
# 22-12-25, 08:37 am

In [38]:
# 5
print(payments.info())
payments.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

## üó∫Ô∏è 2. Mapa del Negocio: Entendiendo las Tablas

Para reconstruir el flujo de una venta, es vital entender la relaci√≥n entre las entidades principales:

### üìå INFORMACI√ìN B√ÅSICA: Entendiendo las Tablas del Modelo Olist

#### üéØ Objetivo
Comprender qu√© dato representa cada tabla y c√≥mo se conectan para reconstruir el proceso completo de un pedido.  
**Nota:** El dise√±o incluye **dos niveles de identificaci√≥n de cliente**: `customer_id` (transaccional) y `customer_unique_id` (cliente real).

---

#### üóÇ Tablas Principales

#### 1. `customers` (Clientes)
**¬øQu√© es?**  
Registro maestro de clientes.

**Claves importantes:**
- `customer_id`:  
  Identificador t√©cnico del cliente en una transacci√≥n espec√≠fica.  
  Un mismo cliente real puede tener m√∫ltiples `customer_id`.
- `customer_unique_id`:  
  Identificador √∫nico del cliente real.  
  Permite agrupar m√∫ltiples pedidos realizados por la misma persona, incluso si utiliz√≥ diferentes datos de registro.

**Relaciones:**
- `customer_id` conecta con `orders.customer_id`
- `customer_unique_id` se usa para an√°lisis de comportamiento, recurrencia y fidelidad

---

#### 2. `orders` (Pedidos)
**¬øQu√© es?**  
El n√∫cleo del sistema. Registra cada transacci√≥n de compra.

**Clave primaria (PK):** `order_id`  
**Relaci√≥n:** Cada pedido pertenece a un cliente (`customer_id` como FK).  
Un pedido **est√° compuesto por** uno o m√°s √≠tems (ver `order_items`).

---

#### 3. `order_items` (Detalle de √çtems)
**¬øQu√© es?**  
El desglose de cada art√≠culo dentro de un pedido.  
Si un pedido tiene 3 art√≠culos, habr√° 3 filas aqu√≠ con el **mismo `order_id`**.

**Claves:**
- PK: Compuesta ‚Üí `order_id` + `order_item_id`  
- FK: `order_id` (orders), `product_id` (products), `seller_id` (sellers)

**L√≥gica:**
- Cada fila representa un producto espec√≠fico vendido por un vendedor.
- `price` y `freight_value` son valores **unitarios**.
- Si un cliente compra dos unidades del mismo producto ‚Üí **dos filas separadas** con el mismo `product_id` pero distinto `order_item_id`.

---

#### 4. `products` (Productos)
**¬øQu√© es?**  
Cat√°logo de todos los productos a la venta.

**Clave primaria (PK):** `product_id`  
**Relaci√≥n:** Un producto puede aparecer en m√∫ltiples √≠tems (`order_items`).

---

#### 5. `payments` (Pagos)
**¬øQu√© es?**  
Historial de transacciones de pago.

**Aclaraci√≥n:**  
Un mismo pedido (`order_id`) puede tener m√∫ltiples filas si se pag√≥ en varias cuotas o con m√©todos combinados (ej: tarjeta + cup√≥n).

**Clave for√°nea (FK):** `order_id` (orders)

---

#### üöö Flujo del Pedido
1. Un **Cliente** (`customers`) inicia una **Orden** (`orders`).
2. La orden se desglosa en **√çtems** (`order_items`) de diversos **Productos** (`products`).
3. El proceso se completa con uno o varios **Pagos** (`payments`).

## ‚ùì 3. Preguntas de Negocio

Basado en el mapa de datos y la l√≥gica de negocio identificada, el an√°lisis se centrar√° en resolver las siguientes interrogantes:

#### 1. Rentabilidad y Mix de Productos
* **Pregunta**: ¬øCu√°les son las 3 categor√≠as de productos con mayores ingresos y cu√°l es su ticket promedio (precio + flete)?
* **Objetivo**: Identificar los pilares de facturaci√≥n de la plataforma y entender si el volumen de ventas est√° impulsado por productos de bajo costo o art√≠culos premium.

#### 2. Fidelizaci√≥n y Comportamiento del Cliente
* **Pregunta**: ¬øQu√© porcentaje de la base de datos corresponde a clientes recurrentes (aquellos con m√°s de un `order_id`)?
* **Objetivo**: Medir la lealtad del cliente en el ecosistema de Olist y determinar si el crecimiento depende de la adquisici√≥n de nuevos usuarios o de la retenci√≥n de los actuales.

#### 3. Log√≠stica y Desempe√±o Regional
* **Pregunta**: ¬øCu√°l es el tiempo promedio de entrega (SLA real) y c√≥mo var√≠a seg√∫n el estado (`customer_state`) del destinatario?
* **Objetivo**: Identificar los estados con mayores cuellos de botella log√≠sticos (ej. Rio de Janeiro vs. S√£o Paulo) para optimizar las promesas de entrega.

In [60]:
# 10:30 am
from shutil import which
print(which('git'))

C:\Program Files\Git\cmd\git.EXE