##### 17-12-25, 06:21 pm Inicio de Proyecto
### 1. Project Context

In [2]:
import pandas as pd

In [40]:
customers = pd.read_csv('../data/raw/olist_customers_dataset.csv')
orders = pd.read_csv('../data/raw/olist_orders_dataset.csv')
order_items = pd.read_csv('../data/raw/olist_order_items_dataset.csv')
products = pd.read_csv('../data/raw/olist_products_dataset.csv')
payments = pd.read_csv('../data/raw/olist_order_payments_dataset.csv')

In [10]:
# === 1.Exploración Técnica Rápida: Usa df.info() y df.head() en cada tabla para confirmar columnas y tipos de datos. ===

In [42]:
# 1
print(customers.info())
customers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [44]:
# 2
print(orders.info())
print(orders.columns.to_list())
orders.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

In [46]:
# 3
print(order_items.info())
print(order_items.columns.to_list())
print(order_items.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None
['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d

   shipping_limit_date  price  freight_value
0  2017-09-19 09:45:35   58.9          13.29
1  2017-05-03 11:05:13  239.9          19.93
2  2018-01-18 14:48:30  199.0          17.87

In [48]:
# 4
print(products.info())
print(products.columns.to_list())
print(products.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None
['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes
2  96bd76ec8810374ed1b65e291975717f         esporte_lazer

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0

In [14]:
# 22-12-25, 08:37 am

In [38]:
# 5
print(payments.info())
payments.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [24]:
# === 2. Documentar el Mapa del Negocio. Entendiendo las Tablas ===

In [50]:
"""
1- `orders`: tabla principal del sistema. Contiene informacion de los pedidos, cada fila es un pedido.
2- `order_items`: Contiene información específica de cada pedido, como el vendedor y producto asociado.
3- `products`: Tabla que incluye datos del producto, entre ellos, fotos, peso y largo.
4- `customers`: Contine información específica del cliente, como su id unico, ciudad y estado.
5- `payments`: Tabla que incluye datos del pago realizado, detalles como el tipo de pago y su valor.

OBJETIVO: Comprender qué dato representa cada tabla y cómo se conectan para reconstruir el proceso completo de un pedido.

1. `customers` (Clientes):
   - **¿Qué es?**: Registro maestro de clientes.
   - **Clave principal**: `customer_id` (ID único de cada cliente).
   - **Relación**: Un cliente puede realizar múltiples pedidos. Se conecta con `orders` a través del `customer_id`.

2. `orders` (Pedidos):
   - **¿Qué es?**: El núcleo del sistema. Registra cada transacción de compra.
   - **Clave principal**: `order_id` (ID único de cada pedido).
   - **Relación**: Cada pedido pertenece a un cliente (`customer_id`) y contiene uno o más ítems (`order_items`).

3. `order_items` (Ítems de los Pedidos):
   - **¿Qué es?**: El detalle de 'qué' se compró en cada pedido.
   - **Clave principal**: Compuesta (`order_id` + `product_id`). Una fila por cada producto distinto dentro de un pedido.
   - **Relación**: Pertenece a un `order_id` y referencia un `product_id`. Contiene el precio, cantidad y costo de envío.

4. `products` (Productos):
   - **¿Qué es?**: Catálogo de todos los productos a la venta.
   - **Clave principal**: `product_id` (ID único de cada producto).
   - **Relación**: Un producto puede aparecer en múltiples ítems de pedidos (`order_items`).

5. `payments` (Pagos):
   - **¿Qué es?**: Historial de transacciones de pago.
   - **Aclaración importante**: Un mismo pedido (`order_id`) puede tener múltiples filas aquí si se pagó en varias cuotas o con métodos combinados (ej: tarjeta + cupón).
   - **Relación**: Cada pago está asociado a un `order_id`.

FLUJO DEL NEGOCIO (Historia de un pedido):
Un 'cliente' (customers) realiza un 'pedido' (orders).
Ese 'pedido' se compone de uno o varios 'ítems' (order_items), donde cada ítem es un 'producto' (products) específico.
El cliente realiza uno o más 'pagos' (payments) para cubrir el total de ese pedido.
"""

"\n1- `orders`: tabla principal del sistema. Contiene informacion de los pedidos, cada fila es un pedido.\n2- `order_items`: Contiene información específica de cada pedido, como el vendedor y producto asociado.\n3- `products`: Tabla que incluye datos del producto, entre ellos, fotos, peso y largo.\n4- `customers`: Contine información específica del cliente, como su id unico, ciudad y estado.\n5- `payments`: Tabla que incluye datos del pago realizado, detalles como el tipo de pago y su valor.\n\nOBJETIVO: Comprender qué dato representa cada tabla y cómo se conectan para reconstruir el proceso completo de un pedido.\n\n1. `customers` (Clientes):\n   - **¿Qué es?**: Registro maestro de clientes.\n   - **Clave principal**: `customer_id` (ID único de cada cliente).\n   - **Relación**: Un cliente puede realizar múltiples pedidos. Se conecta con `orders` a través del `customer_id`.\n\n2. `orders` (Pedidos):\n   - **¿Qué es?**: El núcleo del sistema. Registra cada transacción de compra.\n   - **Clave principal**: `order_id` (ID único de cada pedido).\n   - **Relación**: Cada pedido pertenece a un cliente (`customer_id`) y contiene uno o más ítems (`order_items`).\n\n3. `order_items` (Ítems de los Pedidos):\n   - **¿Qué es?**: El detalle de 'qué' se compró en cada pedido.\n   - **Clave principal**: Compuesta (`order_id` + `product_id`). Una fila por cada producto distinto dentro de un pedido.\n   - **Relación**: Pertenece a un `order_id` y referencia un `product_id`. Contiene el precio, cantidad y costo de envío.\n\n4. `products` (Productos):\n   - **¿Qué es?**: Catálogo de todos los productos a la venta.\n   - **Clave principal**: `product_id` (ID único de cada producto).\n   - **Relación**: Un producto puede aparecer en múltiples ítems de pedidos (`order_items`).\n\n5. `payments` (Pagos):\n   - **¿Qué es?**: Historial de transacciones de pago.\n   - **Aclaración importante**: Un mismo pedido (`order_id`) puede tener múltiples filas aquí si se pagó en varias cuotas o con métodos combinados (ej: tarjeta + cupón).\n   - **Relación**: Cada pago está asociado a un `order_id`.\n\nFLUJO DEL NEGOCIO (Historia de un pedido):\nUn 'cliente' (customers) realiza un 'pedido' (orders).\nEse 'pedido' se compone de uno o varios 'ítems' (order_items), donde cada ítem es un 'producto' (products) específico.\nEl cliente realiza uno o más 'pagos' (payments) para cubrir el total de ese pedido.\n"

In [52]:
# === Formular 3 Preguntas de Negocio: Basadas en tu mapa ===

In [54]:
# 1. Sobre Productos/Ventas (order_items + products): ¿Cúales son los 3 categorias de producto con mayores ventas y cúal es su ticket promedio?
# 2. Sobre comportamiento del cliente (customers + orders): ¿Qué porcentaje de clientes realiza más de 1 pedido? (clientes recurrentes)
# 3. Sobre Logística/Desempeño (orders): ¿Cúal es el tiempo promedio de entrega? (días entre compras y entrega) y en qué estados es más lento?

In [60]:
# 10:30 am
from shutil import which
print(which('git'))

C:\Program Files\Git\cmd\git.EXE